@import url("https://use.typekit.net/ynl2flq.css");

$nav-background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6460784997592788) 100%);

$display-font-family: nitti-typewriter-cameo, sans-serif;
$display-font-weight: 400;
$display-font-style: normal;
$display-font-color: #f7620c;

$link-font: montserrat, sans-serif;
$link-color: rgb(67, 67, 67);
