@import url("https://use.typekit.net/ynl2flq.css");

$body-color: #19191b;

$nav-background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6460784997592788) 100%);

$display-font-family: nitti-typewriter-cameo, sans-serif;
$display-font-weight: 400;
$display-font-style: normal;
$display-font-color: #f7620c;

$title-font-family: nitti-typewriter-normal, sans-serif;

$link-font: elza-text, sans-serif;
$link-font-weight-thin: 100;
$link-font-weight-light: 300;
$link-font-weight-reg: 400;
$link-font-weight-bold: 700;
$link-font-style-italic: italic;
$link-color: #19191b;
$footer-color: #09090a;

$marqueeGap: 3rem;
