@use "/sass/abstracts/variables";
@use "/sass/abstracts/mixins";

header {
  background-image: url("/images/cropped_shinjuku_park.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include mixins.bp-small {
    height: 680px;
    background-position: 37%;
  }
  height: 760px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  .scroll-arrow {
    grid-column: 2/4;
    grid-row: 4/5;
    justify-self: center;
    align-self: end;
    color: variables.$display-font-color;
    cursor: pointer;
  }

  .bounce {
    animation: bounce 2s infinite;
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-15px);
    }
    60% {
      transform: translateY(-7.5px);
    }
  }
}
