header {
  background-image: url("/images/enhanced_shinjuku_park.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgb(0, 63, 0);
  height: 715px;
}
