@use "/sass/abstracts/variables";
@use "/sass/abstracts/mixins";

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: variables.$nav-background;
  align-items: center;
  padding: 0.5rem 0 0 0;
  z-index: 1;

  .menu-btn {
    display: none;
    position: absolute;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn_burger {
    width: 50px;
    height: 6px;
    background: variables.$display-font-color;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn_burger::before,
  .menu-btn_burger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: variables.$display-font-color;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn_burger::before {
    transform: translateY(-16px);
  }

  .menu-btn_burger::after {
    transform: translateY(16px);
  }

  /* Burgermenu ANIMATION */

  .menu-btn.open .menu-btn_burger {
    background: transparent;
  }

  .menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg);
  }

  .menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg);
  }

  @include mixins.bp-small {
    .menu-btn {
      display: flex;
      align-self: flex-end;
    }

    .navbar-links {
      width: 100%;
    }

    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }

    .navbar-links ul {
      flex-direction: column;
      width: 100%;
    }

    .navbar-links li {
      text-align: center;
    }

    .navbar-links.active {
      display: flex;
    }
  }

  .navbar-links {
    width: 40%;
  }

  @include mixins.bp-small {
    flex-direction: column;
    align-items: flex-start;
    .navbar-links {
      width: 100%;
      transform: translateX(600px);
      transition: all 0.5s ease-in-out;
      li a {
        color: #19191b;
      }
    }
    .navbar-links.active {
      display: flex;
      background-color: variables.$display-font-color;
      gap: 2rem;
      transform: translateX(0px);
    }
  }

  .navbar-underline {
    display: flex;
    justify-items: center;
    width: 1200px;
    border-bottom: 1px solid black;
    position: absolute;
    top: 90px;
  }

  .home a {
    text-decoration: none;
    color: variables.$display-font-color;
    display: block;
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    height: 50px;
    @include mixins.bp-large {
      font-size: 3rem;
      margin-left: 2rem;
      height: unset;
      margin-top: 0;
    }
    font-family: variables.$display-font-family;
  }
  ul {
    display: flex;
    justify-content: space-around;
    @include mixins.bp-small {
      flex-direction: column;
      gap: 0.75rem;
      width: 100%;
      padding: 0.75rem;
    }
  }
  li {
    list-style: none;
    &:hover {
      text-decoration: underline;
      color: variables.$display-font-color;
    }
    cursor: pointer;
    @include mixins.bp-small {
      width: 100%;
      text-align: center;
    }
  }

  li a {
    font-family: variables.$link-font;
    font-weight: variables.$link-font-weight-thin;
    text-decoration: none;
    color: variables.$display-font-color;
    display: block;
    padding: 1rem;
    @include mixins.bp-small {
      padding: 0.5rem 1rem;
    }
  }
}

.toggle-btn {
  position: absolute;
  top: 0.9rem;
  right: 1rem;
  display: none;
  @include mixins.bp-small {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    transform: scale(1.5);
    margin-top: 1.25rem;
    margin-right: 0.5rem;
  }
  width: 31px;
  height: 21px;

  .bar {
    height: 3px;
    width: 100%;
    background-color: variables.$display-font-color;
    border-radius: 10px;
  }
}
