@use "/sass/abstracts/variables";
@use "/sass/abstracts/mixins";

.hidden {
  display: none;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mixins.bp-large {
    height: 800px;
    display: grid;
    grid-template-columns: 150px 1fr 1fr 50px 1fr 1fr 150px;
    grid-template-rows: 80px 1fr 1fr 80px;
    align-items: unset;
  }
  h2 {
    font-family: variables.$display-font-family;
    color: variables.$display-font-color;
    padding: 2rem 0 1rem 0;
    @include mixins.bp-large {
      grid-column: 5/7;
      grid-row: 1/2;
      place-self: end center;
      font-size: 2rem;
      padding: unset;
    }
  }
  .intro-txt {
    color: variables.$display-font-color;
    font-family: variables.$link-font;
    font-weight: variables.$link-font-weight-light;
    line-height: 1.55rem;

    padding: 0.5rem 2rem 0rem 2rem;
    p {
      padding-top: 0.5rem;
    }
    a {
      text-decoration: none;
      color: variables.$display-font-color;
      font-family: variables.$link-font;
      font-weight: variables.$link-font-weight-bold;
      &:hover {
        text-decoration: underline;
      }
    }
    @include mixins.bp-large {
      grid-column: 5/7;
      padding: 1rem 0;
      grid-row: 2/4;
    }
  }
  .portrait {
    order: 2;
    padding: 2rem 3rem 3rem 3rem;
    @include mixins.bp-large {
      grid-column: 2/4;
      grid-row: 1/4;
      place-self: center;
      width: 370px;
      order: unset;
      padding: unset;
    }
    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      box-shadow: 0 0 10px rgb(18, 18, 18);
    }
  }
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mixins.bp-large {
    display: grid;
    grid-template-columns: 150px 1fr 1fr 50px 1fr 1fr 150px;
    grid-template-rows: 80px 1fr 1fr 80px;
  }

  .cursorImage {
    z-index: 10;
    position: fixed;
    pointer-events: none;
    display: none;
    background-image: none;
    border-radius: 0;
    height: 300px;
    width: 260px;
    background-repeat: no-repeat;
    transition: background-image 200ms ease-out;
    opacity: 100%;
    background-size: contain;
    filter: drop-shadow(0 0 10px black);
    transform: translate(10%, -50%);
  }

  .content h3 {
    font-size: 2rem;
    @include mixins.bp-large {
      font-size: 5rem;
    }
  }

  .content p {
    font-size: 0.75rem;
    @include mixins.bp-large {
      font-size: 1.5rem;
    }
  }

  .container {
    padding: 0 !important;
    max-width: 100%;
    overflow: hidden;
    grid-area: 2/1/8/8;
  }
  .marquee {
    display: flex;
    white-space: nowrap;
    gap: variables.$marqueeGap;
    overflow: hidden;
    // border-top: solid 1px variables.$display-font-color;
    text-decoration: none;
    color: black;
    padding-bottom: 0.5rem;
  }

  // .marquee:last-of-type {
  //   border-bottom: solid 2px black;
  // }

  /* Hastighed */
  .marquee:nth-child(odd) div {
    animation: marquee 20s linear infinite;
  }

  /* Hastighed + forskydning */
  .marquee:nth-child(even) div {
    animation: marquee 20s linear -5s infinite;
  }

  .marquee p,
  .marquee h3 {
    display: inline-block;
    margin: 0;
  }

  @keyframes marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(calc(-100% - variables.$marqueeGap), 0, 0);
    }
  }

  h2 {
    font-family: variables.$display-font-family;
    color: variables.$display-font-color;
    padding: 0 0 1rem 0;
    @include mixins.bp-large {
      font-size: 2rem;
      grid-column: 2/4;
      justify-self: center;
    }
  }

  h3 {
    font-family: variables.$title-font-family;
    font-weight: variables.$link-font-weight-reg;
    font-size: 1.5rem;
    color: variables.$display-font-color;
  }

  p {
    font-family: variables.$link-font;
    font-weight: variables.$link-font-weight-thin;
    color: variables.$display-font-color;
  }
}

#contact {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;

  .contact-text {
    grid-column: 5/7;
    grid-row: 2/3;
    padding: 1rem 0;
  }

  .contact-img {
    grid-column: 2/4;
    order: -1;
    padding-top: 3rem;

    @include mixins.bp-large {
      order: unset;
      padding-top: unset;
      img {
        box-shadow: 0 0 10px rgb(18, 18, 18);
      }
    }
  }

  @include mixins.bp-large {
    display: grid;
    grid-template-columns: 150px 1fr 1fr 50px 1fr 1fr 150px;
    padding-bottom: 6rem;
    padding-top: 3rem;
  }

  h2 {
    font-family: variables.$display-font-family;
    color: variables.$display-font-color;
    padding: 3rem 0 1rem 0;
    align-self: center;
    @include mixins.bp-large {
      font-size: 2rem;
      grid-column: 5/7;
      justify-self: center;
    }
  }
  p {
    font-family: variables.$link-font;
    color: variables.$display-font-color;
    font-weight: variables.$link-font-weight-light;
    padding: 0 2rem 1rem 2rem;
    line-height: 1.55rem;
    a {
      text-decoration: none;
      color: variables.$display-font-color;
      font-weight: variables.$link-font-weight-bold;
      &:hover {
        text-decoration: underline;
      }
    }
    svg {
      color: variables.$display-font-color;
    }
  }
}
