@use "/sass/abstracts/variables";
@use "/sass/abstracts/mixins";

.intro {
  height: 800px;
  border-bottom: 1px solid variables.$display-font-color;
  @include mixins.bp-large {
    display: grid;
    grid-template-columns: 150px 1fr 1fr 50px 1fr 1fr 150px;
    grid-template-rows: 80px 1fr 1fr 80px;
    scroll-margin-top: 76px;
    scroll-snap-align: start;
  }
  h2 {
    font-family: variables.$display-font-family;
    color: variables.$display-font-color;
    @include mixins.bp-large {
      grid-column: 5/7;
      grid-row: 1/2;
      place-self: end center;
      font-size: 2rem;
    }
  }
  .intro-txt {
    color: variables.$display-font-color;
    font-family: variables.$link-font;
    font-weight: variables.$link-font-weight-light;
    line-height: 1.55rem;
    p {
      padding-top: 0.5rem;
    }
    a {
      text-decoration: none;
      color: variables.$display-font-color;
      font-family: variables.$link-font;
      font-weight: variables.$link-font-weight-bold;
      &:hover {
        text-decoration: underline;
      }
    }
    @include mixins.bp-large {
      grid-column: 5/7;
      padding: 1rem 0;
      grid-row: 2/4;
    }
  }
  .portrait {
    @include mixins.bp-large {
      grid-column: 2/4;
      grid-row: 1/4;
      place-self: center;
      width: 370px;
    }
    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

.work {
  scroll-margin-top: 76px;
  scroll-snap-align: start;
  height: 800px;
  border-bottom: 1px solid variables.$display-font-color;
}
